@charset "utf-8";

.slider 
{

}

.slider01
{
    height: 400px;
    background-color: grey;
    padding: 100px;
    box-sizing: border-box;
}

.slider03
{
    height: 200px;
    background-color: grey;
    padding: 100px;
    box-sizing: border-box;
}